.hello
{
    color:black;
    text-align: center;
    font-size: 400%;
    text-shadow: 3px 3px 0 white,
                 -3px -3px 0 white;
   
}
.AMI
{
    background-color: brown;
    text-align: center;
}
.AAHMAD
{
    background-color: brown;
    text-align: center;
}
.ABDUL
{
    background-color: brown;
    text-align: center;
}
.ABUJI
{
    background-color: brown;
    text-align: center;
}
.ALI
{
    background-color: brown;
    text-align: center;
}
.AMI
{
    background-color: brown;
    text-align: center;
}
.AYUB
{
    background-color: brown;
    text-align: center;
}
.FARUK
{
    background-color: brown;
    text-align: center;
}
.GANI
{
    background-color: brown;
    text-align: center;
}
.GULAB
{
    background-color: brown;
    text-align: center;
}
.GULAMHEDAR
{
    background-color: brown;
    text-align: center;
}
.GULAMHUSEN
{
    background-color: brown;
    text-align: center;
    
}
.HUSEN
{
    background-color: brown;
    text-align: center;
}
.ISMAIL
{
    background-color: brown;
    text-align: center;
}
.KUTBUDIN
{
    background-color: brown;
    text-align: center;
}
.MAHMADHANIF
{
    background-color: brown;
    text-align: center;
}
.MANJUR
{
    background-color: brown;
    text-align: center;
}
.MUSTUFA
{
    background-color: brown;
    text-align: center;
}
.NAJMUDIN
{
    background-color: brown;
    text-align: center;
}
.NAJRUDIN
{
    background-color: brown;
    text-align: center;
}
.RAFIK
{
    background-color: brown;
    text-align: center;
}
.SABIR
{
    background-color: brown;
    text-align: center;
}
.VALI
{
    background-color: brown;
    text-align: center;
}